body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 100px;
}
#root{
    color: rgb(255, 255, 255);
    background-color: rgb(117, 207, 117);
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
}
ul{
    list-style:none;
    font-family: 'Titillium Web', sans-serif;
}
h2{
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 0);
}